@media (max-width: 600px) {
  .empresa-content {
    overflow-x: clip;
  }
 
  .header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
    background-color: transparent;
  }
  
  .img-background {
    position: absolute;
    top: 2px;
    left: 0;
    width: 80%;
    height: 80%;
    /* object-fit: cover; */
    z-index: -1;

    -webkit-animation: header-image-animation linear forwards;
    animation: header-image-animation linear forwards;
    animation-timeline: view();
  }

  @-webkit-keyframes fade-out {
    to { opacity: 0; }
  }

  @keyframes fade-out {
    to { opacity: 0; }
  }

  @-webkit-keyframes header-image-animation {
    35% { opacity: 1; }
    80%, 100% { opacity: 0; -webkit-transform: scale(3); transform: scale(3); }
  }

  @keyframes header-image-animation {
    50% { opacity: 1; }
    80%, 100% { opacity: 0; transform: scale(3); }
  }

  .header-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgba(0, 0, 0, 0.433);
    border-radius: 10px;
    overflow-x: hidden;
  }
  .header-content h1 {
    font-size: 3rem;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1em;
    color: white;
    font-weight: 300;
  }
  .italic {
    font-style: italic;
    font-weight: 200;
  }

  .services-content h2 {
    margin-top: 0;
    padding: 0 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

@media (min-width: 200px) {
  .empresa-content {
    overflow-x: clip;
  }
  .header-content {
    padding: 10px;
  }

  .img-background {
    top: 5px;
    z-index: 1;
    /* -webkit-animation: header-image-animation linear forwards;
    animation: header-image-animation linear forwards;
    animation-timeline: view(); */
  }

  .header-content {
    top: 15px;
    position: relative;
    z-index: 1;
    padding: 20px;
    height: auto;
    background: rgba(0, 0, 0, 0.433);
    border-radius: 0.7rem;
    overflow-x: clip;
  }

  .header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
    background-color: transparent;
  }
}

@media (prefers-reduced-motion: no-preference) {

  .services-content img {
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0.7rem;
    scale: .5; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

@keyframes fade-in {
  to { scale: 1; opacity: 1;}
}
}