/* Estilos generales */
.empresa-content {
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
  background-color: transparent;
  transition: transform 0.9s, opacity 0.5s;
}

.img-background {
  position: absolute;
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  z-index: 1;
  transform: scale(1); /* Escala inicial */
  opacity: 1; /* Opacidad inicial */
}

.service-prueba {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.service-image {
  width: 20rem;
  height: auto;
  margin: 0;
  border-radius: 0.7rem;
  transition: transform 0.3s, opacity 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.header-content {
  position: absolute;
  z-index: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.58);
  border-radius: 0.7rem;
  overflow-x: clip;
}

.header-content h1 {
  font-size: 3rem;
  margin-top: 0;
}

.compromiso {
  margin: 0 1rem 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
  color: white;
  font-weight: 300;
}

.italic {
  font-style: italic;
  font-weight: 200;
  font-size: 1.3rem;
}

.services-content h2 {
  margin-top: 0;
  padding: 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Estilos para pantallas de 1600px y menos */
@media (max-width: 2100px) {
  .header-content {
    width: 50rem; /* Ancho específico para pantallas de 1600px */
  }

  .header-content h1 {
    font-size: 4rem;
  }
  .header-content p {
    font-size: 1.2rem;
  }
  .services-content h2 {
    font-size: 4rem;
  }
  .parrafo {
    font-size: 1.5rem;
    margin: 1rem 1rem 0 1rem;
  }
  
  
}

/* Estilos para pantallas de 1200px y menos */
@media (max-width: 1200px) {
  .header-content {
    width: 40rem; /* Ancho específico para pantallas de 1200px */
  }
}

/* Estilos para pantallas de 900px y menos */
@media (max-width: 900px) {
  .header-content {
    width: 30rem; /* Ancho específico para pantallas de 900px */
  }
}

/* Estilos para pantallas de 600px y menos */
@media (max-width: 600px) {
  .header-content {
    width: 20rem; /* Ancho específico para pantallas de 600px */
    padding: 15px;
  }

  .header-content h1 {
    font-size: 2.5rem;
  }
}

/* Estilos para pantallas de 480px y menos */
@media (max-width: 480px) {
  .header-content {
    width: 16rem; /* Ancho específico para pantallas de 480px */
    padding: 10px;
  }

  .header-content h1 {
    font-size: 2rem;
  }
}
