/* src/styles/FrontCarousel.css */
/* .carousel-container-front {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
} */

.carousel-image,
.carousel-video {
  width: 100%;
  height: auto;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-350px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.carousel-container-front {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
  width: 100%;
}

.carousel-text {
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  bottom: 68%;
  left: 65%;
  color: white;
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 2s ease-out;
  text-shadow: rgb(0, 0, 0) 7px 4px 4px;
}
.carousel-text-1 {
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  bottom: 48%;
  left: 55%;
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 2.5s ease-out;
  text-shadow: rgb(0, 0, 0) 9px 5px 5px;
}
.carousel-text-2 {
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  bottom: 38%;
  left: 60%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 2.9s ease-out;
  text-shadow: rgb(0, 0, 0) 9px 5px 5px;
}

.carousel-text-3 {
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  bottom: 25%;
  left: 20%;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  animation: fadeInLeft 3s ease-out;
  animation-delay: 14s;
  text-shadow: rgb(0, 0, 0) 9px 5px 5px;
}

.big-letter {
  font-size: 1.5em; /* Doble del tamaño normal */
  font-weight: bold;
  color: red; /* Opcional */
}


/* Estilo adicional para dispositivos móviles */
@media (max-width: 600px) {
  .carousel-container-front {
    width: 100%;
    top: -20px;
  }
  .carousel-video {
    width: 100%;
    height: auto;
  }
  .carousel-text {
    font-size: 0.9rem;
  }
  .carousel-text-1 {
    font-size: 1rem;
    left: 47%;
  }
  .carousel-text-2 {
    font-size: 0.7rem;
  }
  .carousel-text-3 {
    font-size: 0.9rem;
    bottom: 15%;
    left: 10%;
  }
}

/* Estilo adicional para tabletas y pantallas medianas */
@media (min-width: 600px) and (max-width: 1024px) {
  .carousel-container-front {
    width: 100%;
  }
  .carousel-container-front img {
    left: 20px;
  }

  .carousel-image,
  .carousel-video {
    width: 100%;
    height: auto;
  }
}

/* Estilo adicional para pantallas grandes */
@media (min-width: 1025px) {
  .carousel-container-front {
    width: 100%;
  }
  .carousel-container-front img {
    width: 82%;
    left: 150px;
  }
  .carousel-image,
  .carousel-video {
    width: 100%;
    height: auto;
  }
}
