/* src/styles/LinkCard.css */

/* Estilos base para .link-card-container */
.link-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px; /* Espacio entre tarjetas */
  padding: 10px;
}

/* Estilos para .link-card */
.link-card {
  flex: 1 1 20rem; /* Ancho base de las tarjetas */
  max-width: 20rem;
  margin: 1rem;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .link-card-link {
  display: flex;
  width: 100%;
  height: 100%;
} */

/* .link-card-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
} */

/* Efecto hover para .link-card */
/* .link-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(184, 178, 178, 0.2);  */

/* Media queries para adaptabilidad */

/* Estilos para pantallas pequeñas (max-width: 600px) */
@media (max-width: 600px) {
  .link-card {
    flex: 1 1 calc(10rem - 2rem); /* Tarjetas ocupan todo el ancho disponible */
    margin: 1rem 0;
  }
}

/* Estilos para pantallas medianas (min-width: 600px) */
@media (min-width: 600px) and (max-width: 1200px) {
  .link-card {
    flex: 1 1 calc(45% - 2rem); /* Ajusta el tamaño de las tarjetas para pantallas medianas */
  }
}

/* Estilos para pantallas grandes (min-width: 1200px) */
@media (min-width: 1200px) {
  .link-card {
    flex: 1 1 20rem; /* Ajusta el tamaño de las tarjetas para pantallas grandes */
  }
}
