.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: relative; /* Añadido para posicionar el menú */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

.navbar-menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 30;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 60px;
  left: 0;
  color: white;
  width: 100%;
  background: #333;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 90;
}

.navbar-menu.open {
  transform: translateX(0);
}

.navbar-item {
  padding: 1rem;
  border-bottom: 1px solid #444;
  text-align: center;
  color: #fff; /* Color del texto normal */
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.navbar-item a {
  color: #fff; /* Color del link normal */
  text-decoration: none;
}

.navbar-item a:hover {
  color: rgb(255, 225, 0); /* Color del link en estado hover */
}

.navbar-item:hover {
  background-color: rgba(249, 242, 242, 0.1);
}

@media (min-width: 600px) {
  .navbar-menu {
    flex-direction: row;
    position: static;
    transform: translateX(0);
    background: transparent;
    height: auto;
  }

  .navbar-item {
    border: none;
    opacity: 1; /* Asegura que los elementos sean visibles en pantallas grandes */
    animation: none; /* Elimina la animación en pantallas grandes */
  }

  .navbar-menu-icon {
    display: none;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
